
/* body {
    background: #2B2930;
} */

/* #app{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    min-height: 100vh;
    color: #E6E0E9;
    font-size: 16px;
    background: #2B2930;
} */